
.my-class {
color:#5ABA7D
}

.my-class2 {
margin-right: 20%;
margin-left: 20%;
font-size: 20px;
text-align: left;
}

.my-container {
	text-align: center; 
	border: 5px solid #645CFC;
	margin-bottom: 20px;
}